@namespace GGNet.Site.Pages
@layout DocumentationLayout
@page "/documentation/tooltip"

<h1>Tooltip</h1>

<p>Geoms supporting tooltips can render custom Html content taking as input the observation under scrutiny. The following CSS variables are exposed for adding style: </p>

<dl class="row ml-auto mr-auto">

    <dt class="col-sm-2">--tooltip-color</dt>
    <dd class="col-sm-10">Dynamic color aesthetic assigned to the observation.</dd>

    <dt class="col-sm-2">--tooltip-alpha</dt>
    <dd class="col-sm-10">Dynamic opacity aesthetic assigned to the observation.</dd>

    <dt class="col-sm-2">--tooltip-theme-color</dt>
    <dd class="col-sm-10">Optional color override set by <span class="func">Theme.Tooltip.Background</span>.</dd>

    <dt class="col-sm-2">--tooltip-theme-alpha</dt>
    <dd class="col-sm-10">Optional opacity override set by <span class="func">Theme.Tooltip.Alpha</span>.</dd>

</dl>
