@namespace GGNet.Site.Pages
@page "/examples/choropleth"

@using GGNet
@using GGNet.Components
@using GGNet.Datasets
@using GGNet.NaturalEarth

    <div class="container-fluid mt-4">

        <div class="row m-4">

            <div class="col-md-6">
                <h2>Choropleth Map</h2>
                <p>Display geographical zones with colour scale for continuous variable</p>
<Code>
<CSharp>
<span class="pl-smi">Plot</span>.<span class="pl-en">New</span>(<span class="pl-smi">source</span>)
    .<span class="pl-en">Geom_Map</span>(<span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Polygons</span>, <span class="pl-smi">tooltip</span>: <span class="pl-smi">Tooltip</span>, <span class="pl-smi">alpha</span>: <span class="pl-c1">0.7</span>, <span class="pl-smi">width</span>: <span class="pl-c1">0.2</span>, <span class="pl-smi">animation</span>: true)
    .<span class="pl-en">Scale_Longitude</span>(<span class="pl-smi">limits</span>: (<span class="pl-k">-</span><span class="pl-c1">15</span>, <span class="pl-c1">30</span>))
    .<span class="pl-en">Scale_Latitude</span>(<span class="pl-smi">limits</span>: (<span class="pl-c1">30</span>, <span class="pl-c1">70</span>))
    .<span class="pl-en">Scale_Fill_Continuous</span>(<span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Pop</span> <span class="pl-k">/</span> <span class="pl-c1">1000000</span>, <span class="pl-smi">Colors</span>.<span class="pl-smi">Brewer</span>.<span class="pl-smi">Blues</span>[<span class="pl-c1">4</span>], <span class="pl-smi">name</span>: <span class="pl-s"><span class="pl-pds">"</span>Population (M)<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Theme</span>(<span class="pl-smi">dark</span>: <span class="pl-c1">false</span>, <span class="pl-smi">legend</span>: <span class="pl-smi">Position</span>.<span class="pl-smi">Top</span>)
</CSharp>
<FSharp>
<span class="pl-smi">Plot</span>.<span class="pl-en">New</span>(<span class="pl-smi">source</span>)
    .<span class="pl-en">Geom_Map</span>((<span class="pl-smi">fun</span> <span class="pl-smi">o</span> <span class="pl-k">-</span><span class="pl-k">&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Polygons</span>), <span class="pl-smi">alpha</span> <span class="pl-k">=</span> <span class="pl-c1">0.7</span>, <span class="pl-smi">width</span> <span class="pl-k">=</span> <span class="pl-c1">0.2</span>)
    .<span class="pl-en">Scale_Longitude</span>(<span class="pl-smi">limits</span> <span class="pl-k">=</span> <span class="pl-smi">Plot</span>.<span class="pl-en">Limits</span>(<span class="pl-smi">Nullable</span> <span class="pl-k">-</span><span class="pl-c1">15.0</span>, <span class="pl-smi">Nullable</span> <span class="pl-c1">30.0</span>))
    .<span class="pl-en">Scale_Latitude</span>(<span class="pl-smi">limits</span>: <span class="pl-smi">Plot</span>.<span class="pl-en">Limits</span>(<span class="pl-smi">Nullable</span> <span class="pl-c1">30.0</span>, <span class="pl-smi">Nullable</span> <span class="pl-c1">70.0</span>))
    .<span class="pl-en">Scale_Fill_Continuous</span>((<span class="pl-smi">fun</span> <span class="pl-smi">o</span> <span class="pl-k">-</span><span class="pl-k">&gt;</span> <span class="pl-smi">float</span> <span class="pl-smi">o</span>.<span class="pl-smi">Pop</span> <span class="pl-k">/</span> <span class="pl-c1">1000000.0</span>), <span class="pl-smi">Colors</span>.<span class="pl-smi">Brewer</span>.<span class="pl-smi">Blues</span>.[<span class="pl-c1">4</span>], <span class="pl-smi">name</span> <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>Population (M)<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Theme</span>(<span class="pl-smi">dark</span> <span class="pl-k">=</span> <span class="pl-c1">false</span>, <span class="pl-smi">legend</span> <span class="pl-k">=</span> <span class="pl-smi">Position</span>.<span class="pl-smi">Top</span>)
</FSharp>
</Code>

            </div>

            <div class="col-md-6">
                <div class="border rounded-lg p-1 shadow-sm" style="width: 720px; height: 670px;">
                    <Plot Data=@map T="(Country, long)" TX=Double TY=Double Width="720" Height="670" />
                </div>
            </div>

        </div>
    </div>

@code {

    Data<(Country, long), double, double> map;

    protected override void OnInitialized()
    {
        var theme = Theme.Default(dark: false, legend: Position.Top);
        theme.Tooltip.Background = "#4d4d4d";
        theme.Tooltip.Alpha = 1;

        var population = GapMinder.Load().Where(o => o.continent == GapMinder.Continent.Europe);

        var data = population.Join(Scale50.Countries, o => o.country, o => o.Name, (x, y) => (
            Country: y,
            Pop: x.pop
        ));

        map = Plot.New(data)
            .Geom_Map(o => o.Country.Polygons, tooltip: o => (o.Country.Capital.Point, o.Country.Name), alpha: 0.7, width: 0.2, animation: true)
            .Scale_Longitude(limits: (-15, 30))
            .Scale_Latitude(limits: (30, 70))
            .Scale_Fill_Continuous(o => o.Pop / 1000000, Colors.Brewer.Blues[9], name: "Population (M)")
            .Theme(theme);
    }
}
