@namespace GGNet.Site.Pages
@layout ExtensionsLayout
@page "/extensions/notebook"

<h1>F# Notebooks</h1>

<p><a href="https://github.com/pablofrommars/fsharp-notebook">fsharp-notebook</a> is a lightweight visualization tool to assist during data exploration and prototyping. In combination with <a href="https://ionide.io">ionide</a>, VSCode becomes a very capable F# IDE for data science.</p>

<img src="/img/notebook.gif" class="w-100" />
