@namespace GGNet.Site.Pages
@layout ExtensionsLayout
@page "/extensions"

<h1>Static Rendering</h1>

<p>GGNet.Static extension package enables to generate charts outside of Blazor Web Apps.</p>

<Code>
<CSharp>
<span class="pl-k">var</span> <span class="pl-smi">plot</span> <span class="pl-k">=</span> <span class="pl-smi">Plot</span>.<span class="pl-en">New</span>(<span class="pl-k">new</span> <span class="pl-en">Source</span>&lt;<span class="pl-k">Tip</span>.<span class="pl-en">Point</span>&gt;(<span class="pl-smi">Tip</span>.<span class="pl-en">Load</span>()), <span class="pl-smi">x</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Day</span>, <span class="pl-smi">y</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Avg</span>)
               .<span class="pl-en">Geom_ErrorBar</span>(<span class="pl-smi">ymin</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Lower</span>, <span class="pl-smi">ymax</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Upper</span>, <span class="pl-smi">position</span>: <span class="pl-smi">PositionAdjustment</span>.<span class="pl-smi">Dodge</span>)
               .<span class="pl-en">Scale_Color_Discrete</span>(<span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Sex</span>, <span class="pl-k">new</span>[] { <span class="pl-s"><span class="pl-pds">"</span>#69b3a2<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">"</span>#404080<span class="pl-pds">"</span></span> })
               .<span class="pl-en">YLab</span>(<span class="pl-s"><span class="pl-pds">"</span>Tip (%)<span class="pl-pds">"</span></span>)
               .<span class="pl-en">Theme</span>();

<span class="pl-c"><span class="pl-c">//</span>Save to File</span>
<span class="pl-k">await</span> <span class="pl-smi">plot</span>.<span class="pl-en">Save</span>(<span class="pl-s"><span class="pl-pds">"</span>tip.svg<span class="pl-pds">"</span></span>);

<span class="pl-c"><span class="pl-c">//</span>Render as string</span>
<span class="pl-k">var</span> <span class="pl-smi">svg</span> <span class="pl-k">=</span> <span class="pl-k">await</span> <span class="pl-smi">plot</span>.<span class="pl-en">AsString</span>();
</CSharp>
<FSharp>
<span class="pl-en">let</span> <span class="pl-smi">plot</span> <span class="pl-k">=</span> <span class="pl-smi">Plot</span>.<span class="pl-en">New</span>(<span class="pl-k">new</span> <span class="pl-en">Source</span>&lt;<span class="pl-k">Tip</span>.<span class="pl-en">Point</span>&gt;(<span class="pl-smi">Tip</span>.<span class="pl-en">Load</span>()), <span class="pl-smi">x</span> <span class="pl-k">=</span> (<span class="pl-smi">fun</span> <span class="pl-smi">o</span> <span class="pl-k">-</span><span class="pl-k">&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Day</span>), <span class="pl-smi">y</span> <span class="pl-k">=</span> (<span class="pl-smi">fun</span> <span class="pl-smi">o</span> <span class="pl-k">-</span><span class="pl-k">&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Avg</span>))
    .<span class="pl-en">Geom_ErrorBar</span>(<span class="pl-smi">ymin</span> <span class="pl-k">=</span> (<span class="pl-smi">fun</span> <span class="pl-smi">o</span> <span class="pl-k">-</span><span class="pl-k">&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Lower</span>), <span class="pl-smi">ymax</span> <span class="pl-k">=</span> (<span class="pl-smi">fun</span> <span class="pl-smi">o</span> <span class="pl-k">-</span><span class="pl-k">&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Upper</span>), <span class="pl-smi">position</span> <span class="pl-k">=</span> <span class="pl-smi">PositionAdjustment</span>.<span class="pl-smi">Dodge</span>)
    .<span class="pl-en">Scale_Color_Discrete</span>((<span class="pl-smi">fun</span> <span class="pl-smi">o</span> <span class="pl-k">-</span><span class="pl-k">&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Sex</span>), [<span class="pl-k">|</span> <span class="pl-s"><span class="pl-pds">"</span>#69b3a2<span class="pl-pds">"</span></span> <span class="pl-s"><span class="pl-pds">"</span>#404080<span class="pl-pds">"</span></span> <span class="pl-k">|</span>])
    .<span class="pl-en">YLab</span>(<span class="pl-s"><span class="pl-pds">"</span>Tip (%)<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Theme</span>();

<span class="pl-c"><span class="pl-c">//</span>Save to File</span>
<span class="pl-smi">plot</span>.<span class="pl-en">Save</span>(<span class="pl-s"><span class="pl-pds">"</span>tip.svg<span class="pl-pds">"</span></span>) <span class="pl-k">|</span><span class="pl-k">&gt;</span> <span class="pl-smi">Async</span>.<span class="pl-smi">AwaitTask</span> <span class="pl-k">|</span><span class="pl-k">&gt;</span> <span class="pl-smi">ignore</span>

<span class="pl-c"><span class="pl-c">//</span>Render as string</span>
<span class="pl-en">let</span> <span class="pl-smi">svg</span> <span class="pl-k">=</span> <span class="pl-smi">plot</span>.<span class="pl-en">AsString</span>() <span class="pl-k">|</span><span class="pl-k">&gt;</span> <span class="pl-smi">Async</span>.<span class="pl-smi">AwaitTask</span> <span class="pl-k">|</span><span class="pl-k">&gt;</span> <span class="pl-smi">Async</span>.<span class="pl-smi">RunSynchronously</span>
</FSharp>
</Code>
