@page "/"

@using GGNet
@using GGNet.Datasets
@using GGNet.Elements

@inject HttpClient Http

<div class="jumbotron jumbotron-fluid p-4">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-8 align-self-center text-center">
                <h1 class="display-4">GG.Net Data Visualization</h1>
                <p class="lead">GG.Net lets Data Scientists and Developers create interactive and flexible charts for .NET and <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a> Web Apps</p>
                <hr class="my-4">
                <p>Taking its inspiration from the highly popular <a href="https://ggplot2.tidyverse.org">ggpplot2</a> R package, GG.Net provides natively rich features for your Data Analysis Workflow. Build publication quality charts with just a few lines of code in C# and F#.</p>
                <a class="btn btn-primary btn-lg" href="documentation" role="button">Get Started</a>
            </div>
            <div class="col-md-4">
                <div class="chart-iris bg-white border rounded-lg shadow p-3">
                    <GGNet.Components.Plot Data=@iris T=Iris.Point TX=Double TY=Double />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ml-auto mr-auto">
    <div class="col-md-4">
        <h3>Install</h3>
        <p>GG.Net targets .NET Standard 2.1</p> 
        <p class="mb-0">Using NuGet:</p>
        <code>PM&gt; install-package GGNet</code>
        <p class="mt-2 mb-0">Extensions for <a href="documentation/static">static rendering</a>:</p>
        <code>PM&gt; install-package GGNet.Static</code>
        <p class="mt-2 mb-0"><a href="https://www.naturalearthdata.com/">Geospatial</a> Data:</p>
        <code>PM&gt; install-package GGNet.NaturalEarth</code>
    </div>
    <div class="col-md-4">
        <h3>Support</h3>
        <h5>Need Help?</h5>
        <p>Do not hesitate to <a href="mailto:pablo.belin@gmail.com">contact me</a> for Data Science, Statistics, and Analytics Consulting.</p>
        <h5>GitHub Issues</h5>
        <p>Use <a href="https://github.com/pablofrommars/GGNet/issues">GitHub issues</a> to report bugs, issues and feature requests.</p>
    </div>
    <div class="col-md-4">
        <h3>Key Features</h3>
        <ul>
            <li>Extensive graphical primitives</li>
            <li>Interactivity API</li>
            <li>High-performance live data</li>
            <li>Paneling and Faceting</li>
            <li>Custom Themes</li>
        </ul>
    </div>
</div>

@code {
    Data<Iris.Point, double, double> iris;

    protected override void OnInitialized()
    {
        var theme = Theme.Default(dark: false);

        theme.Tooltip.Margin = new Margin();
        theme.Tooltip.Background = "#FFFFFF";
        theme.Tooltip.Alpha = 1.0;
        theme.Tooltip.Text.Color = "#000000";
        theme.Tooltip.Text.Size = new Size { Value = 1, Units = Units.em };

        iris = Plot.New(Iris.Load(), x: o => o.SepalLength, y: o => o.SepalWidth)
            .Title("Fisher's Iris")
            .Geom_Point(tooltip: Tooltip, animation: true)
            .XLab("Sepal Lenght (cm)")
            .Scale_Color_Discrete(o => o.Species, Colors.Viridis, name: "Species")
            .YLab("Sepal Width (cm)")
            .Theme(theme);
    }

    public string Tooltip(Iris.Point o) =>
$@"
<div class=""border rounded"" style=""padding: 5px 10px;"">
    <div class=""text-center font-weight-bold border-bottom"" style=""color: var(--tooltip-color);"">{o.Species}</div>
    <div class=""text-nowrap"">
        <div class=""d-inline-block""><div class=""text-center"">&nbsp;</div><div class=""text-center font-weight-bold"">Width</div><div class=""text-center font-weight-bold"">Lenght</div></div>
        <div class=""d-inline-block""><div class=""text-right font-weight-bold"">Petal</div><div class=""text-right"""">{o.PetalWidth}</div><div class=""text-right"">{o.PetalLength}</div></div>
        <div class=""d-inline-block""><div class=""text-right font-weight-bold"">Sepal</div><div class=""text-right"""">{o.SepalWidth}</div><div class=""text-right"">{o.SepalLength}</div></div>
    </div>
</div>
";

}
