@layout MainLayout
@inherits LayoutComponentBase

<div class="row m-0 flex-fill">
    <div class="documentation-sidebar col-md-2 bg-light border-right">
        <nav class="nav flex-column">
            <NavLink class="nav-link" href="/extensions/static" Match="NavLinkMatch.All">Static Rendering</NavLink>
            <NavLink class="nav-link" href="/extensions/mlnet" Match="NavLinkMatch.All">ML.NET Integration</NavLink>
            <NavLink class="nav-link" href="/extensions/fs" Match="NavLinkMatch.All">F# Support</NavLink>
        </nav>
    </div>

    <div class="col-md-10 pt-3 pl-5 pr-5">
        @Body
    </div>
</div>
